@charset "utf-8";
/* CSS Document */

body {
	font: normal 100% Helvetica, Arial, sans-serif,"Microsoft YaHei";
	font-family:"微软雅黑";	
	background-color:#f9f4ed;
	background-repeat:no-repeat;
	background-position:center;
	background-position:top;
	background-size:100% auto;
	margin:0px auto;
	color:#3b3b3b;
	font-size:1em;
	
}
#main{max-width:640px; padding:0px; margin:0px auto; }
.title{background-color:#444444;font-size:1.25em;color:#FFFFFF;  width:100%; height:40px; float:left; font-size:16px;}
.title_img{ padding-left:10px; float:left; padding-top:5px;}
.title_img img{ height:25px; width:auto}
.title_text{padding-left:10px; height:35px; line-height:35px; float:left; width:50%}

.tab{background-color:#fff; width:96%; padding:2%;  border-bottom:1px solid #dbdbdb; float:left;position:relative;}
.tab_bg{width:90%; margin-left:5%; height:auto; }
.tab_bg img{width:100%; height:30px;}
.tab_text{ position:absolute; z-index:999;  width:98%; top:0; font-size:1em; height:50px;}
.tab_zhi{width:50%; text-align:center; display:block; float:left; height:100%; color:#fff; cursor:pointer; padding-top:3%;}
.tab_zhi a:link{color:#fff; text-decoration:none;}
.tab_zhi a:active{color:#fff; text-decoration:none;}
.tab_zhi a:visited{color:#fff; text-decoration:none;}
.tab_zhi1{width:45%; text-align:center; display:block;  float:left; height:100%;color:#985c20; cursor:pointer; padding-top:3%; }
.tab_zhi1 a:link{color:#985c20; text-decoration:none;}
.tab_zhi1 a:active{color:#985c20; text-decoration:none;}
.tab_zhi1 a:visited{color:#985c20; text-decoration:none;}



.box {width:96%; margin-left:2%;}
.xiangmu{background-color:#fff; width:100%; height:90px; float:left; margin-top:8px;-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px;}

.xiangmu_left{padding-top:10px; float:left; padding-left:10px; padding-right:10px; }
.xiangmu_left img{width:70px; height:70px;}
.xiangmu_right{padding-top:5px; text-align:left; position:relative;}
.xiangmu_button {position: absolute;top: 20px;right: 10px;color: #fff;height: 36px;line-height: 35px;padding: 0 10px;
border-radius: 6px;-moz-border-radius:6px;	-webkit-border-radius:6px;background: #985c20; }

.xiangmu_button1 {position: absolute;top: 0px;right: 10px;color: #fff;height: 36px;line-height: 35px;padding: 0 10px;
border-radius: 6px;-moz-border-radius:6px;	-webkit-border-radius:6px;background: #985c20;}

.css_btn_jianjie{color: #fff;height: 20px;line-height: 20px;padding: 0 10px;
border-radius: 6px;-moz-border-radius:6px;	-webkit-border-radius:6px;background: #985c20;}

.black38{font-size:16px; color:#333; padding-right:2%;}
.black39{font-size:1.2em; color:#333;padding-right:5%;}
.black12{font-size:0.8em; color:#333;}
.black24{font-size:14px; color:#a2a2a2;}
.black14{font-size:0.8em; color:#999;}
.blue24{font-size:14px; color:#8ecca9; padding-right:2%;}
.black16{font-size:1em; color:#a2a2a2;}
.red24{font-size:1em; color:#f58e96}
.red20{font-size:0.8em; color:#f58e96}
.orange16{font-size:1em; color:#ff814e;}
.orange14{font-size:14px; color:#ff814e;}
.css_btn_blue {    
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4f4f4f;
	padding:0 15px;
	text-align:center;
	text-decoration:none;	
	background-color:#ffffff;
	color:#4f4f4f;
	height:30px;
	line-height:28px;
	}
.css_btn_blue a:link{color:#fff; text-decoration:none;}
.css_btn_blue a:active{color:#fff; text-decoration:none;}
.css_btn_blue a:visited{color:#fff; text-decoration:none;}
.css_btn_red {    
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #f58e96;
	padding:0 15px;
	text-align:center;
	text-decoration:none;
	height:30px;
	line-height:28px;
	background-color:#ffffff;
	color:#ff3333;
	display:inline-block;
	}
.css_btn_red a:link{color:#fff; text-decoration:none;}
.css_btn_red a:active{color:#fff; text-decoration:none;}
.css_btn_red a:visited{color:#fff; text-decoration:none;}
.yuyue{padding-right:2%; width:100%; margin-top:5px; font-size:14px; color:#333;}
.yuyue img{width:auto; height:30px;}
.yuyue_bg{position:absolute; z-index:999px; top:0; left:0; width:100%;}

.footer {
    position: fixed;
    bottom: 0;
    max-width: 640px;
    left: 0;
	right:0;
    z-index: 9999;
    background-color: #985c20;
    color: #fff;
	text-align: center;
    font-size: 1em;
    height: 45px;
	line-height:45px;
	clear:both;
	margin:0 auto;
	
}
.footer li {
    float: left;
    width: 33%;
    text-align: center;
    height: 45px;
    line-height: 45px;
    position:relative;
	list-style-type:none
}	
.footer li span{display:inline-block; background:#963; width:100%; height: 45px; line-height: 45px;}
.footer li a:hover{ background:#963;}
.footer li .second{position:absolute;right:0;display:none; bottom:30px;}
.footer li a{ color: #fff; text-decoration: none; display: block; float: left; height: 45px; line-height: 45px; background: #985c20; white-space: nowrap;width:100% }

.xiangxi_title{ width:96%; background:#fff;padding:2%; float:left; }
.xiangxi_title_left{float:left; padding-top:5px; }
.xiangxi_title_left img{height:80px; width:80px;-moz-border-radius:50px;-webkit-border-radius:50px;	border-radius:50px;}
.xiangxi_title_right{float:left; margin-left:20px; width:60%;}
.xiangxi_title_right img{height:12px; width:auto; padding-right:5px; padding-top:5px;}
.xiangxi_title_right li{list-style-type:none; line-height:30px;}

.xiangxi_text{font-size:14px; line-height:20px; width:100%; border-top:#dfdfdf solid 1px; margin-top:5px; padding-top:5px; float:left; padding-left:5px; padding-right:5px;}
.shuoming{float:left;  height:auto}
.shuoming_navContent{padding:10px; display:none; font-size:0.8em; float:left}
.sm_navContent{padding:10px; display:none; font-size:0.8em;  float:left}

.xuanze{border-bottom:1px solid #985c20; border-top:1px solid #985c20; height:50px; width:100%; float:left}
.css_btn_brown {    
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #985c20;
	padding:0 12px;
	height:20px;
	line-height:20px;
	text-align:center;
	text-decoration:none;	
	background-color:#fff;
	color:#985c20;
	display:inline-block;
	}
.xuanze li{float:left; width:33%; line-height:50px; list-style-type:none;  display:block; cursor:pointer}
.xuanze_text{ display:inline-block; float:left; padding-left:30%}
.xuanze_img{padding-left:5px;display:inline-block; float:left;}
.xuanze_img img{height:15px; width:auto}
.xuanze_list{background-color:#fff; width:100%;float:left; margin-top:8px;-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px;}
.xuanze_list_left{float:left; width:100px; padding:2%;}
.xuanze_list_left img{width:80px; height:80px; -moz-border-radius:50px;-webkit-border-radius:50px;	border-radius:50px; border:1px solid #fff;}
.xuanze_list_left_an{ margin-top:5px; margin-left:5px;}
.xuanze_list_right{display:block; position:relative; }
.xuanze_list_right img{ height:10px; width:auto;}
.xuanze_yuyue{float:left  }
.xuanze_yuyue img{height:30px; width:auto;}
.xuanze_list_right_text{margin-top:10px; overflow:hidden; display:block; padding-bottom:5px; padding-right:5px; font-size:14px; color:#333}
.xuanze_list_right_text img{padding-right:5px;}
.foot_top{ width:100%; height:50px; float:left; margin-top:8px;}

.time_head{ background:#985c20; height:50px; text-align:center; font-size:0.8em; color:#fff; float:left; display:block; width:100%; line-height:50px;}
.time_clock{width:90%; height:130px;float:left; margin-left:5%; margin-top:15px;}
.time_clock li{width:33%; text-align:center; float:left; list-style-type:none; padding-top:10px;}
.time_clock img{width:auto; height:95px;}
.time{width:100%; float:left;}
.time ul{padding-left:5%; margin:0; float:left; width:95%}
.time ul li{float:left; width:25%; list-style-type:none; margin-top:20px}
.css_btn_orange { 
    width:80%;   
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;	
	padding:5% 0;
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f4924e), color-stop(100%, #f4924e) );
	background:-moz-linear-gradient( center top, #f4924e 5%, #f4924e 100% );
	background:-ms-linear-gradient( top, #f4924e 5%, #f4924e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4924e', endColorstr='#f4924e');
	background-color:#f4924e;
	color:#ffffff;
	display:inline-block;
	}
.css_btn_grey { 
    width:80%;   
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;	
	padding:5% 0;
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d9d9d9), color-stop(100%, #d9d9d9) );
	background:-moz-linear-gradient( center top, #d9d9d9 5%, #d9d9d9 100% );
	background:-ms-linear-gradient( top, #f4924e 5%, #f4924e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#d9d9d9');
	background-color:#d9d9d9;
	color:#b6b6b6;
	display:inline-block;
	}
.css_btn_dangqin { 
    width:80%;   
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;	
	padding:5% 0;
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #ffffff 5%, #fffffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-color:#ffffff;
	color:#f4924e;
	display:inline-block;
	border:#f4924e 1px solid;
	}
.time_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    background-color: #985c20;
    height: 44px;
    color: #fff;
    font-size: 1em;
    height: 45px;
	line-height:45px;
	
}

.queren{width:100%; height:70px; border-bottom:1px solid #b4b4b4; float:left; padding-top:10px;}
.css_btn_queren { 
    width:85%;
	font-size:0.8em;
	font-family:"微软雅黑" Arial;
	font-weight:normal;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;	
	padding:0 10px;
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff814e), color-stop(100%, #ff814e) );
	background:-moz-linear-gradient( center top, #ff814e 5%, #ff814e 100% );
	background:-ms-linear-gradient( top, #ff814e 5%, #ff814e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff814e', endColorstr='#ff814e');
	background-color:#ff814e;
	color:#fff;
	display:inline-block;
	height:50px;
	line-height:50px;
	margin-left:5%
	}
.xinxi_input{margin-left:15%;}
.xinxi_text{line-height:20px;width:80%; font-size:0.8em; padding-top:10px; float:left}
.xinxi_textqr{font-size:0.8em; line-height:40px;width:100%;  margin-bottom:20px;}
.xinxi_textqr img{width:100%}
.xinxi_textqr li{ list-style-type:none; border-bottom:1px #dfdfdf solid; width:95%; padding-left:5%;}
.xinxi_input input{ background:#fff; height:40px; width:80%;-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px; border:1px solid #d7d6d4; margin-top:20px; padding-left:5px; color:#333;}
.xinxi_input select{ background:#fff; height:40px; width:82%;-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px; border:1px solid #d7d6d4; margin-top:20px; padding-left:5px; color:#333;}	
.xinxi_input option{padding-top:15px; padding-bottom:15px;}

.yuyue_queren{width:96%; height:115px; float:left; margin-top:10px;;-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px; background:#fff;}
.yuyue_queren_left{float:left; width:30%; padding:2%;}
.yuyue_queren_left img{width:90%; height:100px;}
.yuyue_queren_right{float:left; display:inline-block;}
.yuyue_queren_right_text{margin-top:8px; overflow:hidden; display:block; text-align:left; font-size:0.8em}
.yuyue_queren_center{ height:40px; border-bottom:1px solid #dfdfdf; float:left; width:100%}
.yuyue_queren_center_left{float:left; line-height:40px; padding-left:20px;}
.yuyue_queren_center_right{float:right;line-height:40px; padding-right:20px;}
.user_xinxi{float:left; width:100%; background:#fff; height:90px; border-bottom:1px solid #dfdfdf; }
.user_xinxi_left{width:20%; float:left;}
.user_xinxi_left img{padding-left:50%; padding-top:20px; height:40px; width:auto;}
.user_xinxi_right{width:70%; float:left;}
.user_xinxi li{display:block; list-style-type:none; margin-top:8px; padding-left:5%; font-size:0.8em}
.css_btn_yanzhema {    
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;	
	padding:0 2%;
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f4924e), color-stop(100%, #f4924e) );
	background:-moz-linear-gradient( center top, #f4924e 5%, #f4924e 100% );
	background:-ms-linear-gradient( top, #f4924e 5%, #f4924e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4924e', endColorstr='#f4924e');
	background-color:#f4924e;
	color:#ffffff;
	display:inline-block;
	height:39px;
	line-height:39px;
	}
.yanzheng_input{width:70%; float:left; margin-left:15%;}
.yanzheng_input_left{float:left; width:55%}
.yanzheng_input_left input{ background:#fff; height:40px; -moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px; border:1px solid #d7d6d4; margin-top:20px; padding-left:5px; color:#333; width:100%}
.yanzheng_input_right{float:right; margin-top:20px;}
.css_btn_time {    
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;	
	padding:1% 3%;
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f4924e), color-stop(100%, #f4924e) );
	background:-moz-linear-gradient( center top, #f4924e 5%, #f4924e 100% );
	background:-ms-linear-gradient( top, #f58e96 5%, #f58e96 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58e96', endColorstr='#f58e96');
	background-color:#f4924e;
	color:#ffffff;
	display:inline-block;
	}
.css_btn_time img{height:15px; width:auto; padding-top:3px; padding-left:3px; padding-right:7px;}
.subNavBox{ background:#fff;  float:left;  font-size:14px; width:63%;}
.subNav{ text-align:left; color:#985c20; line-height:50px;}
.navContent{padding-bottom:5px; display:none; font-size:14px;}

.pinglun{width:100%; background:#fff; margin-top:10px; float:left; height:50px;color:#985c20; line-height:50px; font-size:1em; text-align:center;}
.pinglun_text{float:left; width:97%; background:#fff; min-height:20px; margin-top:10px; padding:10px; border-bottom:1px solid #dfdfdf;}
.pinglun_more{width:100%; height:50px; text-align:center; font-size:0.8em; background:#f4f4f4; float:left; display:block; line-height:50px; margin-top:5px;}
.xiangguan{width:100%; float:left; background:#FFF; border-bottom:1px solid #dfdfdf; border-top:1px solid #dfdfdf; height:50px; line-height:50px; text-align:center; margin-top:10px; color:#985c20}
.xg_xiangxi{float:left; width:100%; background:#fff; height:80px; margin-top:10px; position:relative;}
.xg_xiangxi ul{padding:0px; margin-top:25px; font-size:14px; line-height:30px;}
.xg_xiangxi ul li{float:left; margin-right:10px; margin-left:5px; list-style-type:none;}
.xg_xiangxi_left{float:left; padding:5px; width:30%;}
.xg_xiangxi_left img{height:90px; width:90%;}
.xg_xiangxi_center{float:left; width:60%; line-height:30px;padding-top:5px;}
.xg_xiangxi_center img{height:15px; width:auto; padding-right:5px;}
.xg_xiangxi_right{float:left; width:90%;}
.xg_xiangxi_right img{height:25px; width:auto;}





.my_bg{float:left; width:100%; height:200px; background:url(../images/my_bg.jpg) no-repeat left top; color:#fff; margin-top:5px; }
.my_left{float:left; width:40%; height:150px; text-align:center; margin-top:40px;}
.my_left img{width:100px; height:100px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px; border:2px solid #fff;}
.my_right{float:left; padding-top:30px;line-height:35px;}
.my_right img{width:auto; height:25px;}

.my_bg_tys{float:left; width:100%; height:135px; background:url(../images/my_bg.jpg) no-repeat left top; color:#fff; margin-top:5px; }
.tys_left{float:left; width:40%; height:108px; text-align:center; margin-top:15px;}
.tys_left img{width:100px; height:100px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px; border:2px solid #fff;}
.tys_right{float:left; padding-top:10px;line-height:35px;}




.my_list{float:left; width:100%;}
.my_list li{background:#fff; list-style-type:none; color:#333; margin-bottom:5px; height:50px; line-height:50px;}
.my_list li span{ display:inline-block}
.my_list img{width:auto; height:30px; padding:10px; float:left; display:inline-block}

.my_con{float:left; width:100%; text-align:center; color:#985c20; font-size:1.1em;margin-top:70px;}
.my_con img{width:auto; height:40px;}

.my_danlist{background-color:#fff; width:95%; height:auto; float:left; margin-top:10px;-moz-border-radius:15px;	-webkit-border-radius:15px;	border-radius:15px; color:#6d6d6d; padding:10px; position:relative;}
.my_danlist_left{float:left; position:absolute; left:0; top:0;}
.my_danlist_right{float:left; display:block; padding-left:70px; line-height:30px;}
.my_pingjia{float:right; line-height:30px; width:25%; margin-top:8px;}
.my_newdan{background-color:#fff; width:94.5%; height:100px; float:left; margin-top:8px;-moz-border-radius:6px;	-webkit-border-radius:6px;border-radius:6px; padding:10px 0px 20px 20px; line-height:35px;}

.my_dangan{background-color:#fff; width:96%; height:auto; float:left; margin-top:10px;-moz-border-radius:15px;	-webkit-border-radius:15px;	border-radius:15px; color:#6d6d6d; padding:10px; position:relative;}
.my_dangan_left{float:left; position:absolute; left:0; top:0;}
.my_dangan_right{float:left; display:block; padding-left:70px; line-height:30px;}
.my_dangan_text{display:block; margin:15px;}
.my_more{ border-top:#dfdfdf 1px solid; line-height:40px; height:40px; padding-left:10px;}



.brown28{ font-size:1.2em; color:#985c20; padding-right:8px;}
.brown24{ font-size:1.1em; color:#985c20; padding-right:8px;}
.brown16{ font-size:16px; color:#985c20; padding-right:8px;}
.brown14{ font-size:0.8em; color:#985c20; padding-right:8px;}
.css_btn_newdan {    
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;	
	padding:0 5%;
	text-align:center;
	text-decoration:none;
	border:1px solid #e77223;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #fff) );
	background:-moz-linear-gradient( center top, #fff 5%, #fff 100% );
	background:-ms-linear-gradient( top, #fff 5%, #fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
	background-color:#fff;
	color:#e77223;		
	}
.css_btn_yizhifu {    
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;	
	padding:0 5%;
	text-align:center;
	text-decoration:none;
	border:1px solid #6d6d6d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #fff) );
	background:-moz-linear-gradient( center top, #fff 5%, #fff 100% );
	background:-ms-linear-gradient( top, #fff 5%, #fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff');
	background-color:#fff;
	color:#6d6d6d;		
	}

.boxall{width:100%; background:#fff;}
.boxall img{width:100%; height:auto;}

.dizhi_list{background-color:#fff; width:93%; height:150px; float:left; margin-top:10px;-moz-border-radius:15px;	-webkit-border-radius:15px;	border-radius:15px; color:#6d6d6d; padding:10px; position:relative; margin-left:2%;}

.yuyue_queren_add{background-color:#fff; width:93%; height:160px; float:left; margin-top:10px;-moz-border-radius:15px;	-webkit-border-radius:15px;	border-radius:15px; color:#6d6d6d; padding:10px; position:relative; margin-left:2%;}


.dizhi_list_left{float:left; position:absolute; left:0; top:0;}
.dizhi_list_right{float:left; display:block; padding-left:70px; line-height:30px;}

.dizhi_list_newdan{background-color:#fff; width:94.5%; height:50px; float:left; margin-top:8px;-moz-border-radius:6px;	-webkit-border-radius:6px;border-radius:6px; padding:10px 0px 20px 20px; line-height:35px;}
.dizhi_list_newdan_left{float:left; font-size:0.8em}
.dizhi_list_newdan_right{float:right; padding-right:8px;}
.dizhi_list_newdan_right img{width:auto; height:20px;}

.dizhi_list li{border-bottom:1px solid #dfdfdf; list-style-type:none}
.dizhi_add{ width:100%; text-align:center; height:50px; line-height:50px; background:#ded1a5; color:#985c20; float:left; margin-top:8px;}
.css_btn_adddizhi {    
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;		
	text-align:center;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #b28850), color-stop(100%, #b28850) );
	background:-moz-linear-gradient( center top, #b28850 5%, #b28850 100% );
	background:-ms-linear-gradient( top, #b28850 5%, #b28850 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b28850', endColorstr='#b28850');
	background-color:#b28850;
	color:#ffffff;
	display:inline-block;
	height:40px;
	line-height:40px;
	width:82%;
	margin-top:15px;
	}
.dizhi_sz{border-top:1px solid #dfdfdf; margin-top:10px; height:50px; line-height:50px; width:100%;display:block}
.dizhi_sz_left{width:49%; border-right:1px solid #dfdfdf; text-align:center;display:inline-block}
.dizhi_sz_left img{width:auto; height:15px; display:inline-block; padding-right:5px;}
.dizhi_sz_right{width:49%; text-align:center;display:inline-block}
.dizhi_sz_right img{width:auto; height:15px; display:inline-block; padding-right:5px;}

.my_dangan{background-color:#fff; width:97%; height:auto; float:left; margin-top:10px;-moz-border-radius:15px;	-webkit-border-radius:15px;	border-radius:15px; color:#6d6d6d; padding:10px; position:relative;}
.my_dangan_left{float:left; position:absolute; left:0; top:0;}
.my_dangan_right{float:left; display:block; padding-left:70px; line-height:30px;}
.my_dangan_text{display:block; margin:15px;}
.my_more{ border-top:#dfdfdf 1px solid; line-height:40px; height:40px; padding-left:10px;}

.more_right{float:left; padding-top:50px;line-height:35px;}
.newdan{background-color:#fff; width:94.5%; height:165px; float:left; margin-top:8px;-moz-border-radius:6px;	-webkit-border-radius:6px;border-radius:6px; padding:10px 0px 20px 20px; line-height:35px;}
.more_danxingxi{width:94.5%; float:left; margin-top:8px; padding:10px 0px 20px 20px; line-height:35px;}

.chenggong{ text-align:center; padding-top:80px; color:#f7922a; font-size:1.1em; line-height:40px;}
.chenggong img{}

.shibai{ text-align:center; padding-top:80px; color:#666; font-size:1.1em; line-height:40px;}
.shibai img{}

.nodate{ text-align:center; padding-top:200px; color:#c9c5bf; font-size:1.1em; line-height:40px;}
.nodate img{width:25%; height:auto;}

.login{width:100%; background:url(../images/login_bg.png) no-repeat; min-height:1000px;}
.login img{width:100%; position:relative}
.login_input{width:80%; z-index: 999;  padding-left:17.5%; color:#fff; padding-top:15%; }
.login_input input{background:#a77870; height:40px; width:80%;-moz-border-radius:6px;	-webkit-border-radius:6px;	border-radius:6px; border:1px solid #a77870;  margin-top:20px; padding-left:6px; color:#fff;}
.css_btn_login {    
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;		
	text-align:center;
	text-decoration:none;	
	background-color:#a65746;
	color:#ffffff;
	display:inline-block;
	height:40px;
	line-height:40px;
	width:80%;
	margin-top:20px;	
	}

.pingfen{float:left; width:96%; padding:2%;}
.pingfen img{width:auto; height:45px; padding-right:8px;}
.pingfen_input{ border:1px solid #dfdfdf; width:98%; height:150px;}

.ceshi{ width:95%; margin-top:10px; float:left; margin-left:20px; line-height:30px; color:#333; font-size:1.1em}
.ceshi_line{border-bottom:1px solid #dfdfdf; width:95%; height:10px; margin-bottom:20px;}
.ceshi li{list-style-type:none; height:60px;}
.ceshi_left{float:left; padding-right:5px;}
.ceshi_left img{width:auto; height:20px; float:left; display:inline-block; padding-right:5px; padding-top:5px;}


.about{float:left; width:100%;}
.about img{width:100%; height:auto;}
.about_title{ font-size:16px; color:#985c20; line-height:35px; padding-left:15px; background:#fff; border-bottom:1px solid #dfdfdf}
.about_text{ line-height:1.6; font-size:14px; padding:15px 15px 64px; margin-top:8px; background:#fff; }
.about_text dl{ margin:0; padding:0;}
.about_text dt{ float:left;}
.about_text dd{ padding-left:30px; }

.zf{float:left; width:100%; text-align:center; border-bottom:1px solid #dfdfdf; padding-bottom:30px; }
.zffs{float:left; padding-left:20px; width:95%; margin-bottom:15px;border-bottom:1px solid #dfdfdf; padding-bottom:15px;}
.zffs_left{float:left; line-height:30px;}
.zffs_left img{width:auto; height:30px; float:left; display:inline-block}
.zffs_left_text{padding-left:10px;}
.zffs_right{float:right;}
.zffs_right img{width:auto; height:20px; float:left; display:inline-block; padding-right:5px; padding-top:5px;}
.zffs_title{float:left; padding-left:20px; width:95%; margin-bottom:15px; background:#Fff; line-height:40px}

.zf_chenggong{ text-align:center; border-top:1px solid #dfdfdf; padding-top:30px; margin-top:30px;}

.quan,.quan1{ width: 100%; height: 100%; background: #000000; filter:alpha(opacity=50);	-moz-opacity:0.5;	-khtml-opacity: 0.5;	opacity: 0.5; position: absolute; top: 0; left: 0; display: none; z-index: 1;}
.juzhong,.juzhong1{ width: 70%; height: 70%;  position: absolute; left: 0; top: 0; right: 0; bottom: 0;z-index: 1000; display: none; background: #ffffff;  margin: auto;    /* 有了这个就自动居中了 */}
.close,.close1{ width: 20px; height: 20px; position: absolute;right: 10px;top: 15px; background:url(../images/close.png);}
.danchu_text{font-size:0.8em; line-height:25px; padding:10px; OVERFLOW-Y: auto; OVERFLOW-X:hidden; }

.tanchu_title{ width:100%; height:45px; border-bottom:1px solid #dfdfdf; text-align:center; font-size:1em; line-height:45px; color:#960;}